<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>子账号管理</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="{{ url_for('static',filename='layui/css/layui.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='/layui/layui.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts/echarts.js') }}"></script>
    <style>
        body {
            background-image: linear-gradient(to bottom,rgba(48,255,221,0.1),rgba(190,240,255,0.1));
            width:100%;
        }
    </style>
</head>
<body>


<form class="layui-form layui-row layui-col-space16" >
    <br>

    <div class="layui-col-md6" >
        <div class="layui-input-wrap" style="width: 80%;margin: auto">
            <input type="text" name="用户" placeholder="用户" lay-affix="clear" class="layui-input" style="background: rgba(255,255,255,0.6)">
        </div>
    </div>


    <div class="layui-col-md6" style="display: flex; justify-content: center;">
        <button class="layui-btn" lay-submit lay-filter="table-search">搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary" style="background: rgba(255,142,165,0.9)">清空</button>
    </div>

</form>



<div style="padding: 16px;">
    <table class="layui-hide" id="shoptable" style="background:azure" ></table>
</div>


<script type="text/html" id="header-event">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add_sub">添加子账号</button>
        <button class="layui-btn layui-btn-sm" lay-event="del_sub">删除子账号</button>
    </div>
</script>

<script type="text/html" id="data_edit">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="admit">提交</a>
    </div>
</script>

<script>
    layui.use(function () {
        var table = layui.table;
        var form = layui.form;
        var util = layui.util;
        // 创建表格实例
        table.render({
            toolbar: '#header-event',
            elem: '#shoptable',
            id:'shoptable',
            url: '{{ url_for("managehome.getshopsub") }}'+'?shopname={{ shopname }}', // 此处为静态模拟数据，实际使用时需换成真实接口
            cols: [[
                {type: 'checkbox', title: '选择框', fixed: true,},
                {field: 'id', title: 'ID', width: '10%', sort: true, fixed: true},
                {field: 'shop_name', title: '店铺名', width: '20%',edit:true},
                {field: 'create_user', title: '创建人', width: '15%'},
                {field:'create_time',title: '创建时间',width:'20%'},
                {field: 'user_name', title: '用户', width: '20%'},
            ]],
            page:true,
            css: [ // 设置单元格样式
                // 取消默认的溢出隐藏，并设置适当高度
                '.layui-table-cell{height: 50px; line-height: 40px;}',
                '.layui-table-cell .layui-colorpicker{width: 38px; height: 38px;}',
                '.layui-table-cell select{height: 36px; padding: 0 5px;}'
            ].join(''),
            limits:['10','20','50','100'],
            height: 'full-116',
            done: function () {
                var options = this;

                var showData = function (data) {
                    return layer.msg('当前行最新数据：<br>' + util.escape(JSON.stringify(data)), {
                        offset: '16px',
                        anim: 'slideDown'
                    });
                };

                table.getRowData = function (tableId, elem) {
                    var index = $(elem).closest('tr').data('index');
                    return table.cache[tableId][index] || {};
                };

                form.on('select(select-user)', function (obj) {
                    var value = obj.value; // 获取选中项 value
                    // 获取当前行数据(如 id 等字段，以作为数据修改的索引)
                    var data = table.getRowData(options.id, obj.elem);
                    // 更新数据中对应的字段
                    data.owner = value;
                    // 显示当前行最新数据 - 仅用于示例展示
                    console.log(data);
                });
            }
        });
        // 搜索提交
        form.on('submit(table-search)', function (data) {
            var field = data.field; // 获得表单字段
            console.log(field)
            // 执行搜索重载
            table.reload('shoptable', {
                page: {
                    curr: 1, // 重新从第 1 页开始
                    limit: 10
                },
                where: field // 搜索的字段
            });
            layer.msg('搜索成功');
            return false; // 阻止默认 form 跳转
        });

        table.on('toolbar(shoptable)',function (obj) {
            var options = obj.config; // 获取当前表格属性配置项
            var checkStatus = table.checkStatus(options.id); // 获取选中行相关数据
            //console.log(obj); // 查看对象所有成员
            switch (obj.event) {
                case 'add_sub': {
                    layer.open({
                        type: 1,
                        title: '新增店铺',
                        area: ['600px', '500px'],
                        content: `
                  <form class="layui-form" lay-filter="form-password" style="width: 80%; margin: auto">
                    <br>
                    <label class="layui-form-label">用户名1</label>
                    <input name="user_name" class="layui-input" placeholder="用户名1">
                    <br><hr>
                    <button class="layui-btn" lay-submit lay-filter="submitshop">提交</button>
                  </form>
                  <script>
                    layui.use(function () {
                      var form = layui.form;
                      var layer = layui.layer;
                      form.on("submit(submitshop)", function (data) {
                        var field = data.field;
                        field.shop_name='{{ shopname }}'
                        console.log(field);
                        $.ajax({
                          url: '{{ url_for("managehome.shopmanageaddsub") }}',
                          type: "POST",
                          contentType: "application/json",
                          data: JSON.stringify(field),
                          dataType: "json",
                          success: function (response) {
                            layer.alert('修改成功');
                          },
                          error: function (xhr) {
                          layer.alert('修改失败，'+xhr.responseJSON.message);
                          }
                        });
                        return false;
                      });
                    });
                  <\/script>
                `,
                        success: function (layero, index) {
                            // 执行layui表单渲染

                        }
                    });
                    table.reload('shoptable', {
                        page: {
                            curr: 1, // 重新从第 1 页开始
                            limit: 10
                        },
                        where: field // 搜索的字段
                    });
                    break;
                }
                case 'del_sub': {
                    console.log(checkStatus);
                    var log_data = '确认删除下列子账号吗？\n';
                    var user_list = ''
                    for (let i = 0; i < checkStatus['data'].length - 1; i++) {
                        user_list = user_list + checkStatus['data'][i]['user_name'] + '\n';
                    }
                    user_list = user_list + checkStatus['data'][checkStatus['data'].length - 1]['user_name'];
                    if (user_list == '')
                        layer.alert('未筛选用户');
                    else {
                        layer.alert(log_data + user_list, function (index) {
                            $.ajax({
                                url: '{{url_for("managehome.shopmanagedeletesub")}}',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(user_list),
                                success: function (response) {
                                    // 假设服务器返回的响应对象中有一个 `message` 属性包含反馈信息
                                    layer.alert('提交成功\n反馈信息: ' + response.message);
                                },
                                error: function (xhr) {
                                    layer.alert('请求失败\n错误信息: ' + xhr.responseJSON.message);
                                    layer.alert('请求失败');
                                }
                            });
                            layer.close(index);
                        });
                    }
                    table.reload('shoptable', {
                        page: {
                            curr: 1, // 重新从第 1 页开始
                            limit: 10
                        },
                        where: field // 搜索的字段
                    });
                    break;
                }
            }
        })

        table.on('tool(shoptable)',function (obj) {
            var data=obj.data;
            switch (obj.event) {
                case 'admit': {
                    layer.confirm('是否确认提交?',function (a) {
                        console.log(data,typeof(data));
                        layer.close(a);
                        $.ajax({
                            url: '{{url_for("managehome.shopmanageupdate")}}',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            success: function (response) {
                                console.log(response)
                                alert('提交成功\n反馈信息: ' + JSON.stringify(response.data))
                                layer.alert('提交成功');
                                //console.log('Success:', response);
                            },
                            error: function (xhr) {
                                alert('提交失败\n错误信息:'+JSON.stringify(xhr.responseJSON.error));
                                layer.alert('提交失败');
                            }
                        });
                        },
                        function (a) {
                        console.log(data);
                        layer.close(a);
                        layer.alert('已取消');
                    })
                    break;
                }
                case '':{
                    break;
                }
            }
        })

    });
</script>

</body>
</html>