<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ user_name }}个人中心</title>
    <style>
        body{
            background-color: rgba(0,32,71);
        }

        .usershow{
            position: relative;
            left: 10vh;
            top: 10vh;
            right: 10vh;
            bottom: 10vh;
            width: 180vh;
            height: 85vh;
            background-image: url('{{ url_for('static', filename='img/星空.png') }}');
            position: absolute;
            background-size: cover;
            background-position: center
        }
    </style>
    <link href="{{ url_for('static',filename='layui/css/layui.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='/layui/layui.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts/echarts.js') }}"></script>

    <!-- 导入CSS文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
</head>

<body>

    <div class="layui-header" style="position:fixed; left:0px; top:0px; width:100%; height:6%;opacity:1">
        <div class="layui-container layui-bg-gray" style="width: 100%;height: 100%">
            <div class="layui-col-md9" style="height: 100%">
                <div class="layui-header-menu">
                    <ul class="layui-nav layui-bg-gray">

                        <li class="layui-nav-item"><a href="/home">首页</a></li>
                        <li class="layui-nav-item layui-this">
                            <a href="/userhome" target="_blank">个人中心</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="/managehome" target="_blank">管理中心</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="/datahome" target="_blank">数据中心</a>
                            <dl class="layui-nav-child">
                                <dd><a target="_blank" href="/showdata">盈亏报表</a></dd>
                                <dd><a href="">先放着</a></dd>
                                <dd><a href="">先放着</a></dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;">不知道干嘛3</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">先放着</a></dd>
                                <dd class="layui-this"><a href="">先放着</a></dd>
                                <dd><a href="">先放着</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item"><a href="">演示</a></li>
                    </ul>
                </div>
            </div>

            <div class="layui-col-md3" style="height: 100%">
                <ul class="layui-nav layui-bg-gray">
                    <li class="layui-nav-item">

                        <a href="javascript:;">
                            <img src="{{ url_for('static',filename='img/流萤头像.png') }}" class="layui-nav-img">
                            <i class="layui-icon layui-icon-down layui-nav-more"></i>
                        </a>


                        <dl class="layui-nav-child">
                          <dd><a href="javascript:;">个人中心</a></dd>
                          <dd><a href="https://sr.mihoyo.com/">崩坏星穹铁道友情链接</a></dd>
                          <hr>
                          <dd style="text-align: center;"><a href="{{ url_for('login.loginout') }}">退出</a></dd>
                        </dl>

                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="usershow">
        <div class="layui-container" style="width:90%; height:90%;margin-left: 5%;margin-top:2%">

            <div class="layui-col-md5" style="height: 100%">
                <div style="background-color: rgba(255,255,255,0.3);height:100%;">
                    <h1 style="text-align: center"> {{ user_name }} </h1>

                    <div style="padding: 16px;">
                        <table class="" id="shop_data" lay-filter="shop_data"></table>
                    </div>

                </div>
            </div>


            <div class="layui-col-md7" style="height: 100%">
                <div style="background-color: rgba(255,255,255,0.8);height:100%;">
                    <div class="layui-tab" lay-filter="change-tab" style="width:100%; height:100%;margin-left: 0%;margin-top:0%">
                        <ul class="layui-tab-title" style="height:10%;">
                            <li lay-id="1" class="layui-this" style="width: 45%;height:100%;">收入情况</li>
                            <li lay-id="2" style="width: 45%;height:100%;">亏损情况</li>
                        </ul>
                        <div class="layui-tab-content" style="height:90%;">
                            <div class="layui-tab-item layui-show" style="height:100%;">
                                <div id="chart1" style="width:100%;height:100%;margin-left: auto;margin-right: auto;"></div>
                            </div>
                            <div class="layui-tab-item" style="height:100%;">
                                <div id="chart2" style="width:100%;height:100%;margin-left: auto;margin-right: auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        layui.use(['table','form'],function (){
            var table = layui.table;
            var form = layui.form;
            var url_shop_data='{{ url_for("userhome.userhome_data") }}';
            table.render({
                elem:'#shop_data',
                url: url_shop_data,
                total:true,
                height: 'full-70',
                page:true,
                cols:[[
                    {field:'店铺名称',title:'店铺名称', width:240,totalRow: '',},
                    {field:'昨日收入',title:'昨日收入', width:120,totalRow: '', sort: true },
                    {field:'本周收入',title:'本周收入', width:120,totalRow: '', sort: true },
                    {field:'本月收入',title:'本月收入', width:120,totalRow: '', sort: true },
                ]],
                error: function (res, msg) {
                    console.log(res, msg)
                }
            });
        });

        layui.use(['element'], function(){
          var element = layui.element;

            element.on('tab(change-tab)',function (data){
                console.log(this); // 当前 tab 标题所在的原始 DOM 元素
                console.log(data.index); // 得到当前 tab 项的所在下标
                console.log(data.elem); // 得到当前的 tab 容器
                console.log(data.id); // 得到当前的 tab ID(2.9.11+)
                var tabId = data.index + 1;
                console.log(tabId)
                initChart(tabId);
            });

            initChart(1);
        });

        function initChart(index) {
            var chartId = 'chart' + index;
            var myChart = echarts.init(document.getElementById(chartId));
            // 模拟数据请求
            var chartId = 'chart' + index;
            console.log(chartId)
            var chartContainer = document.getElementById(chartId);

            // 确保 chartContainer 不为空，并且有宽高
            if (chartContainer && chartContainer.clientWidth !== 0 && chartContainer.clientHeight !== 0) {
                // 模拟数据请求
                fetchChartData(index).then(function (data1) {
                    var option = {
                        title: {
                            text: '饼图'
                        },
                        series: [
                            {
                                name: '访问来源',
                                type: 'pie',
                                data: data1
                            }
                        ]
                    };
                    myChart.setOption(option);
                }).catch(function (error) {
                    console.error('数据请求失败:', error);
                });
            } else {
                console.error('图表容器未找到或宽高为0:', chartId);
            }
        }

        function fetchChartData(index) {
              return new Promise(function(resolve, reject) {
                // 模拟 AJAX 请求
                  get_url='{{ url_for("userhome.userhome_getshopdata")}}'+'?&type='+index
                  console.log(get_url)
                    $.ajax({
                      url: get_url,
                      method: 'GET',
                      dataType: 'json', // 期望从服务器返回的数据类型
                      success: function(data) {
                        // 在这里处理从服务器返回的数据
                        resolve(data);
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                        // 处理请求失败的情况
                        console.error('Ajax request failed:', textStatus, errorThrown);
                        reject({ status: textStatus, error: errorThrown }); // 失败时调用 reject
                      }
                    });
                    setTimeout(function() {
                        var data = [{ value: 335, name: '直接访问'},
                            { value: 234, name: '联盟广告'},
                            {value: 1548, name: '搜索引擎'}
                        ]
                        resolve(data);
                    }, 10000);
              });
        }
    </script>
</body>
</html>