<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>详细数据</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static',filename='layui/css/layui.css') }}" rel="stylesheet">
</head>
<body>
<!--
本「综合演示」包含：自定义头部工具栏、获取表格数据、表格重载、自定义模板、单双行显示、单元格编辑、自定义底部分页栏、表格相关事件与操作、与其他组件的结合等相对常用的功能，以便快速掌握 table 组件的使用。
-->
    <div class="layui-form" id="date-form" style="margin-top: 2%">
        <div class="layui-form-item">
            <div class="layui-inline">

                <div class="layui-inline">

                      <label class="layui-form-label">日期范围</label>

                      <div class="layui-inline" id="ID-laydate-rangeLinked">
                            <div class="layui-input-inline">
                                <input name="start_date" type="text" autocomplete="off" id="ID-laydate-start-date-1" class="layui-input" placeholder="开始日期">
                            </div>
                                <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input name="end_date" type="text" autocomplete="off" id="ID-laydate-end-date-1" class="layui-input" placeholder="结束日期">
                            </div>
                      </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">商品id</label>
                    <div class="layui-inline">
                        <input name="product_id" type="text" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">店铺名称</label>
                    <div class="layui-inline">
                        <input name="shop_name" type="text" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" lay-submit class="layui-btn" lay-filter="date-form" id="date-commit">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 16px;">
      <table class="" id="data_table" lay-filter="data_table"></table>
    </div>

    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button>
        <button class="layui-btn layui-btn-sm" id="dropdownButton">
          下拉按钮
          <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-blue" id="reloadTest">
          重载测试
          <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-primary" id="rowMode">
          <span>模式</span>
          <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>
      </div>
    </script>

    <script type="text/html" id="data_edit">
      <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="more">
          更多
          <i class="layui-icon layui-icon-down"></i>
        </a>
      </div>
    </script>

    <script src="{{ url_for('static',filename='/layui/layui.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts/echarts.js') }}"></script>

    <script>
        layui.use('laydate',function(){
            var form = layui.form;
            var laydate = layui.laydate;
              // 渲染
            laydate.render({
                elem: '#ID-laydate-start'
            });

            laydate.render({
                elem: '#ID-laydate-end', // 指定元素
            });

            laydate.render({
                elem: '#ID-laydate-rangeLinked',
                range: ['#ID-laydate-start-date-1', '#ID-laydate-end-date-1'],
                rangeLinked: true // 开启日期范围选择时的区间联动标注模式 ---  2.8+ 新增
              });
        });

        layui.use(['table', 'dropdown','form'], function(){
                var table = layui.table;
                var dropdown = layui.dropdown;
                var form = layui.form
                var url_data="{{ url_for('showdata.getdata') }}"
                console.log(1,url_data)
                  // 创建渲染实例
                table.render({
                    elem: '#data_table',
                    id:'main_table',
                    url: url_data,
                    toolbar: '#toolbarDemo',
                    defaultToolbar: ['filter', 'exports', 'print', { // 右上角工具图标
                        title: '提示',
                        layEvent: 'LAYTABLE_TIPS',
                        icon: 'layui-icon-tips',
                        onClick: function(obj) { // 2.9.12+
                            layer.alert('自定义工具栏图标按钮');
                        }
                    }],
                    height: 'full-35', // 最大高度减去其他容器已占有的高度差
                    totalRow: true, // 开启合计行
                    page: true,
                    cols: [[
                        {type: 'checkbox', fixed: 'left'},
                        {field:'日期',title:'日期', fixed: 'left', width:120,  sort: true, totalRow: '合计：'},
                        {field:'店铺名称',title:'店铺名称', width:120 },
                        {field:'产品名称', title:'产品名称 <i class="layui-icon layui-icon-tips layui-font-14" lay-event="email-tips" title="该字段开启了编辑功能" style="margin-left: 5px;"></i>', fieldTitle: '产品名称', hide: 0, width:150, expandedMode: 'tips', edit: 'text'},
                        {field:'商品id', title:'商品id',width:120},
                        {field:'访客数', title:'访客数',  width: 120, totalRow: ''},
                        {field:'支付件数',title:'支付件数', width: 120,sort: true, totalRow: ''},
                        {field:'支付买家数', title:'支付买家数', width: 120, sort: true, totalRow: ''},
                        {field:'支付金额',title:'支付金额', width: 120},
                        {field:'评价有礼', title:'评价有礼', width: 120},
                        {field:'退款金额',title:'退款金额',width:120},
                        {field:'单日盈亏', title:'单日盈亏', width: 120,sort: true,totalRow:''},
                        {fixed: 'right', title:'操作', width: 135, minWidth: 125, templet: '#data_edit'}
                    ]],
                    done: function(){
                      var id = this.id;
                      // 下拉按钮测试
                        dropdown.render({
                        elem: '#dropdownButton', // 可绑定在任意元素中，此处以上述按钮为例
                        data: [{
                          id: 'add',
                          title: '添加'
                        },{
                          id: 'update',
                          title: '编辑'
                        },{
                          id: 'delete',
                          title: '删除'
                        }],
                        // 菜单被点击的事件
                        click: function(obj){
                          var checkStatus = table.checkStatus(id)
                          var data = checkStatus.data; // 获取选中的数据
                          switch(obj.id){
                            case 'add':
                              layer.open({
                                title: '添加',
                                type: 1,
                                area: ['80%','80%'],
                                content: '<div style="padding: 16px;">自定义表单元素</div>'
                              });
                            break;
                            case 'update':
                              if(data.length !== 1) return layer.msg('请选择一行');
                              layer.open({
                                title: '编辑',
                                type: 1,
                                area: ['80%','80%'],
                                content: '<div style="padding: 16px;">自定义表单元素</div>'
                              });
                            break;
                            case 'delete':
                              if(data.length === 0){
                                return layer.msg('请选择一行');
                              }
                              layer.msg('delete event');
                            break;
                          }
                        }
                      });

                      // 重载测试
                        dropdown.render({
                            elem: '#reloadTest', // 可绑定在任意元素中，此处以上述按钮为例
                            data: [{
                              id: 'reload',
                              title: '重载'
                            },{
                              id: 'reload-deep',
                              title: '重载 - 参数叠加'
                            },{
                              id: 'reloadData',
                              title: '仅重载数据'
                            },{
                              id: 'reloadData-deep',
                              title: '仅重载数据 - 参数叠加'
                            }],
                            // 菜单被点击的事件
                            click: function(obj){
                              switch(obj.id){
                                case 'reload':
                                  // 重载 - 默认（参数重置）
                                  table.reload('main_table', {
                                    where: {
                                      abc: '123456',
                                      //test: '新的 test2',
                                      //token: '新的 token2'
                                    },
                                  });
                                break;
                                case 'reload-deep':
                                  // 重载 - 深度（参数叠加）
                                  table.reload('main_table', {
                                    where: {
                                      abc: 123,
                                      test: '新的 test1'
                                    },
                                    //defaultToolbar: ['print'], // 重载头部工具栏右侧图标
                                    //cols: ins1.config.cols
                                  }, true);
                                break;
                                case 'reloadData':
                                  // 数据重载 - 参数重置
                                  table.reloadData('main_table', {
                                    where: {
                                      abc: '123456',
                                      //test: '新的 test2',
                                      //token: '新的 token2'
                                    },
                                    scrollPos: 'fixed',  // 保持滚动条位置不变 - v2.7.3 新增
                                    height: 2000, // 测试无效参数（即与数据无关的参数设置无效，此处以 height 设置无效为例）
                                    //url: '404',
                                    //page: {curr: 1, limit: 30} // 重新指向分页
                                  });
                                break;
                                case 'reloadData-deep':
                                  // 数据重载 - 参数叠加
                                  table.reloadData('main_table', {
                                    where: {
                                      abc: 123,
                                      test: '新的 test1'
                                    }
                                  }, true);
                                break;
                              }
                              layer.msg('可观察 Network 请求参数的变化');
                            }
                      });
                        form.on('submit(date-form)', function(data){
                            get_data=data.field
                            table.reload('main_table', {
                                where: get_data,
                                page: {
                                    curr: 1, // 重新从第 1 页开始
                                    limit:10
                            }
                            });
                            return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
                        });

                      // 行模式
                      dropdown.render({
                        elem: '#rowMode',
                        data: [{
                          id: 'default-row',
                          title: '单行模式（默认）'
                        },{
                          id: 'multi-row',
                          title: '多行模式'
                        }],
                        // 菜单被点击的事件
                        click: function(obj){
                          var checkStatus = table.checkStatus(id)
                          var data = checkStatus.data; // 获取选中的数据
                          switch(obj.id){
                            case 'default-row':
                              table.reload('main_table', {
                                lineStyle: null // 恢复单行
                              });
                              layer.msg('已设为单行');
                            break;
                            case 'multi-row':
                              table.reload('main_table', {
                                // 设置行样式，此处以设置多行高度为例。若为单行，则没必要设置改参数 - 注：v2.7.0 新增
                                lineStyle: 'height: 95px;'
                              });
                              layer.msg('即通过设置 lineStyle 参数可开启多行');
                            break;
                          }
                        }
                      });
                    },
                    error: function(res, msg){
                      console.log(res, msg)
                    }
                  });

                form.on('submit(date-form)', function(data){
                    get_data=data.field
                    table.reload('main_table', {
                        where: get_data,
                        page: {
                            curr: 1, // 重新从第 1 页开始
                            limit:10
                        }
                    });
                    return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });
                  // 工具栏事件
                table.on('toolbar(data_table)', function(obj){
                    var id = obj.config.id;
                    var checkStatus = table.checkStatus(id);
                    var othis = lay(this);
                    switch(obj.event){
                      case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(layui.util.escape(JSON.stringify(data)));
                        break;
                      case 'getData':
                        var getData = table.getData(id);
                        console.log(getData);
                        layer.alert(layui.util.escape(JSON.stringify(getData)));
                        break;
                    };
                  });
                  // 表头自定义元素工具事件 --- 2.8.8+
                table.on('colTool(data_table)', function(obj){
                    var event = obj.event;
                    console.log(obj);
                    if(event === 'email-tips'){
                        layer.alert(layui.util.escape(JSON.stringify(obj.col)), {
                        title: '当前列属性配置项'
                      });
                    }
                  });
                  // 触发单元格工具事件
                table.on('tool(data_table)', function(obj){ // 双击 toolDouble
                    var data = obj.data; // 获得当前行数据
                    // console.log(obj)
                    switch (obj.event){
                        case 'edit':
                            layer.open({
                                title: '编辑 - id:'+ data.id,
                                type: 1,
                                area: ['60%','80%'],
                                content: '<div style="padding: 16px;">data.id,data["商品id"]</div>'
                            });
                        break;

                        case 'more': {
                          // 更多 - 下拉菜单
                            dropdown.render({
                                elem: this, // 触发事件的 DOM 对象
                                show: true, // 外部事件触发即显示
                                data: [{
                                  title: '查看15天数据',
                                  id: 'data_15'
                                },{
                                  title: '查看30天数据',
                                  id: 'data_30'
                                }],
                                click: function(menudata){
                                  if(menudata.id === 'data_15'){
                                        layer.open({
                                            title:  [data['产品名称']+data['商品id'] + ' 15日数据','position:fixed;text-align: center;'],
                                            type: 2,
                                            area: ['60%','80%'],
                                            content: "{{ url_for('datahome.get_data_ZG',num='15') }}"+'&product_id='+data['商品id']
                                        });
                                  } else if(menudata.id === 'data_30'){
                                        layer.open({
                                            title:  [data['产品名称']+data['商品id'] + ' 30日数据','position:fixed;'],
                                            type: 2,
                                            area: ['60%','80%'],
                                            maxmin: true,
                                            content: "{{ url_for('datahome.get_data_ZG',num='30') }}"+'&product_id='+data['商品id']
                                        });
                                  }
                                },
                                id: 'dropdown-table-tool',
                                align: 'right', // 右对齐弹出
                                style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' // 设置额外样式
                            });
                        }
                        break;

                    }
                  });
                  // table 滚动时移除内部弹出的元素
                var tableInst = table.getOptions('main_table');
                tableInst.elem.next().find('.layui-table-main').on('scroll', function() {
                    dropdown.close('dropdown-table-tool');
                });
                  // 触发表格复选框选择
                table.on('checkbox(data_table)', function(obj){
                    console.log(obj)
                  });
                  // 触发表格单选框选择
                table.on('radio(data_table)', function(obj){
                    console.log(obj)
                  });
                  // 行单击事件
                table.on('row(data_table)', function(obj){
                    //console.log(obj);
                    //layer.closeAll('tips');
                  });
                  // 行双击事件
                table.on('rowDouble(data_table)', function(obj){
                    console.log(obj);
                  });
                  // 单元格编辑事件
                table.on('edit(data_table)', function(obj){
                    var field = obj.field; // 得到字段
                    var value = obj.value; // 得到修改后的值
                    var data = obj.data; // 得到所在行所有键值
                    // 值的校验
                      console.log(data);
                    if(field === 'email'){
                      if(!/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(obj.value)){
                        layer.tips('输入的邮箱格式不正确，请重新编辑', this, {tips: 1});
                        return obj.reedit(); // 重新编辑 -- v2.8.0 新增
                      }
                    }
                    // 编辑后续操作，如提交更新请求，以完成真实的数据更新
                    // …
                    layer.msg('编辑成功', {icon: 1});

                    // 其他更新操作
                    var update = {};
                    update[field] = value;
                    obj.update(update);
                  });
            });
    </script>
</body>
</html>